<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="MobileOptimized" content="176" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico" />
  <meta content='#1a73e8' name='theme-color' />
  <meta name="keywords" content="Ryoushin no Shakkin wo Katagawari Shite Morau Jouken wa Nihon’ichi Kawaii Joshikousei to Issho ni Kurasu Koto Deshita Bahasa Indonesia">
  <meta property="og:site_name" content="Akbar Jeffry">
  <meta property='og:title' content="Because I Like You Bab <%= current %>">
  <meta property='og:description' content="Ryoushin no Shakkin wo Katagawari Shite Morau Jouken wa Nihon’ichi Kawaii Joshikousei to Issho ni Kurasu Koto Deshita Bahasa Indonesia">
  <!--title-->
  <title><%= title %></title>
  <!--css and script-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/public/css/bkstyle.css" rel="stylesheet">
</head>

<body>
  <div class="navlist">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/library">Library</a></li>
        <li class="breadcrumb-item"><a href="/library/because-i-like-you">because-i-like-you</a></li>
        <li class="breadcrumb-item active" aria-current="current">Bab <%= current %></li>
      </ol>
    </nav>
  </div>
  <div class="header">
    <h1><%= title %></h1>
    <span class="author"><%= author %> &bull; <%= date %></span>
  </div>
  <div class="body">
  <!-- awal content -->
  <%- post %>
    <!-- Akhir Content-->
    <br />
    <nav aria-label="pagination">
            <% if (pages > 0) { %>
             <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                    <% } else { %>
                        <li class="page-item" ><a class="page-link" href="/library/<%= blog %>/<%= current -1 %>">Previous</a></li>
                    <% } %>
                    <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/library/<%= blog %>/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 2 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/library/<%= blog %>/<%= (current -0) +1 %>">Next</a></li>
                    <% } %>
                </ul></nav>
            <% } %>
    <br> <br>
    <hr>
  </div>
  <!--Javacript-->
  <script src="/public/js/bkscript.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>